.registration-container{
    display: flex;
    justify-content: space-between;
    margin: 0 150px auto;
    color: white;
}

.registration{
    max-width: 50%;
    min-width: 50%;
    padding-left: 40px;
}

.registration h1{
    font-size: 3rem;
    font-family: Roboto;
    font-weight: 300;
  
}
.registration div{
    margin: 10px auto;
}

.registration input {
    padding: 20px;
    border: 1px solid white;
    border-radius: 3px;
    width: 80%;
    background-color: black;
    color: white;
}

.registration-info{
     max-width: 50%;
     min-width: 50%;
     text-align: center;
}

.bg{
    width: 250px;
}
.info-one{
    font-family: Roboto;
    font-weight: 300;
    font-size: 3.5rem;  
    margin: 0 80px auto;
    
}
.registration-info p{
    font-weight: 400px;
    margin: 0 20% auto;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}
.reg-submit{
    width: 80%;
    background-color: orangered;
    border: none;
    outline: none;
    color: white;
    border-radius:50px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;  
    font-size: 15pt;  
    cursor: pointer;
}
